/****************
	TYPOGRAPHY
 ****************/

body {
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	color: #000;
	min-width: 235px;
}

h1 {
	font-size: 2.5em;
	margin-top: 0;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.2em;
	font-weight: 500;
}

h5 {
	font-size: 1em;
	font-weight: 500;
}

h6 {
	font-size: .8em;
	font-weight: 500;
}

p {
	font-family: 'Source Sans Pro', sans-serif;
	color: #000;
	font-size: 1.1em;
}


/****************
	  HEADER
 ****************/

header {
	height: 100vh;
	width: 100%;
	margin: 0;
	padding: 0;
	background: url('../img/death2560.jpg') no-repeat center fixed, #233D4D;
	background-size: cover;
}

.title {
	max-width: 900px;
	margin: 0 auto;
	padding-top: 100vh;
	padding-left: 0;
	transform: translate(0, -10em);
}

header h1,
header h2 {
	margin: 0 0 0 ;
}

header h1 {
	font-size: 3em;
}

/****************
	LAY OUT
 ****************/

body {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.wrapper {
	padding: 2em 0;
}

.container {
	margin: 0 auto;
	padding: 0;
	max-width: 900px;
}

/****************
       WORK
 ****************/

.projects {
	display: flex;
}

.project-type:first-child {
	padding: 0 15px 0 0;
}

.project-type:last-child {
	padding: 0 0 0 15px;
	border-left: #fff 3px solid;
}

.project-type {
	width: 50%;
	padding: 0 7.5px;
}

.project-card {
	background-color: #fff;
	box-shadow: 0 2px 5px #373737;
	margin-bottom: 10px;
	min-height: 75px;
	display: flex;
	transition: .3s;
}

.project-card:hover {
	transform: scale(1.02, 1.02);
}

.project-card h4 {
	margin: 0 0 .25em;
}

.project-card p {
	margin: 0;
}

.project-card img {
	width: 100px;
	height: 100px;
	min-width: 100px;
	min-height: 100px;
	background: center url("../img/test500.png");
	background-size: 100px;
	margin: 3px 0 3px 3px;
}

.project-card-text {
	padding: 10px;
}

/****************
     BUTTONS
 ****************/

.button {
	display: block;
	background: #f6e6bc;
	padding: 10px;
	margin: 20px auto;
	font-size: 1.3em;
	font-weight: 300;
	text-align: center;
	color: #000;
	text-decoration: none;
	width: 9em;
	border-radius: 2px;
	box-shadow: 0 0 0 0 #727272;
	transition: .8s;
}

.button:hover {
	background-color: #45a89a;
	color: #fff;
	box-shadow: 0 3px 0 0 #727272;
	transition: .5s;
	transform: translate(0,-3px);
	transition: .3s;
}

.button:active {
	box-shadow: 0 0 0 0 #727272;
	transform: translate(0,0);
}

/****************
   Input Fields
 ****************/

input,
textarea {
	box-sizing: border-box;
	border: 1px solid #45a89a;
	border-radius: 5px;
	padding: .5em;
	font: 'Raleway', sans-serif;
	font-size: 1em;
	font-weight: 300;
	margin: .3em 0;
	width: 100%;
	transition: .3s;
}

input:hover,
textarea:hover {
	background-color: #efefef;
}

input:focus,
textarea:focus {
	background-color: #45a89a;
	color: #fff;
}

textarea {
	height: 15em;
}

input::webkit-input-placeholder {
	color: #fff;
}

input[type=submit] {
	border: none;
	background-color: #efefef;
}

/****************
  PROFILE LINKS
 ****************/

.profile-links {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	width: 100%;
}

.profile-links li {
	box-sizing: border-box;
	border: 1px solid #45a89a;
	padding: 1.5em;
	display: block;
	text-align: center;
	border-left: none;
	transition: .3s;
}

.profile-links li:first-child {
	border-left: 1px solid #45a89a;
	border-radius: 5px 0 0 5px;
}

.profile-links li:last-child {
	border-radius: 0 5px 5px 0;
}

.profile-links li:hover {
	background: #45a89a;
	color: #fff;
}

/****************
      FOOTER
 ****************/

 footer {
 	background-color: #233D4D;
 	color: #fff;
 }

/****************
      MOBILE
 ****************/

@media (max-width: 600px) {
	.flexgroup {
		display: block;
	}

	.flexgroup > section,
	.flexgroup > section:first-child, 
	.flexgroup > section:last-child  {
		width: 100%;
		border: none;
		padding: 0;
		margin: 0;
	}

	/****************
	  PROFILE LINKS
	 ****************/
	.profile-links {
	 	display: block;
	}

	.profile-links  li {
	 	border: 1px solid #45a89a;
	 	border-top: none;
	}

	.profile-links li:first-child {
		border-top: 1px solid #45a89a;
		border-radius: 5px 5px 0 0;
	}

	.profile-links li:last-child {
		border-radius: 0 0 5px 5px;
	}

}

@media (max-width: 277px) {
	.title {
		transform: translate(0, -13em);
	}
}